<template>
    <div>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img :src="$store.state.data.image + film.poster_path" alt="">
                </div>
                <div class="col-md-4">
                    <h3>{{film.title}}</h3>
                    <p>{{film.overview}}</p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

export default {
  name: 'DetailFilm',
  computed: {
    film () {
      return this.$store.state.data.detailFilm
    }
  },
  mounted () {
    const id = this.$route.params.id
    this.$store.dispatch('getDetail', id)
  }
}
</script>
<style scoped>
    img{
        display: flex;
    }
    p{
        text-align: justify;
    }
</style>
