<template>
    <div>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <div class="container-fluid">
        <div class="gallery" v-for="(datafilm, index) in film" :key="index" :datafilm="datafilm">
            <a target="_blank" href="img_mountains.jpg">
                <img :src="$store.state.data.image + datafilm.poster_path" alt="Mountains" width="600" height="400">
            </a>
            <!-- <div class="desc">{{datafilm.overview}}</div> -->
            <router-link :to="{name: 'detailfilm', params: {id: datafilm.id}}" class="btn btn-primary">Detail</router-link>
        </div>
    </div>
    </div>
</template>

<script>

export default {
  name: 'ListFilm',
  computed: {
    film () {
      return this.$store.state.data.films
    }
  },
  mounted () {
    this.$store.dispatch('getFilm')
    // axios
    //   .get('https://api.themoviedb.org/3/movie/now_playing?api_key=12bc0e841cf079697d78e0a8b263aae6&language=id-ID&page=1')
    //   .then(response => { this.films = response.data.results })
  }
}
</script>

<style scoped>
    div.gallery {
        margin-left: 7px;
        margin-right:50px;
        margin-bottom: 30px;
        border: 1px solid #ccc;
        float: left;
        width: 180px;
    }

    div.gallery:hover {
        border: 1px solid #777;
    }

    div.gallery img {
        width: 100%;
        height: auto;
    }

    div.desc {
        padding: 15px;
        text-align: center;
    }
    .btn{
        margin: 5px;
        height: 30px;
        text-align: center;
        padding-top: 3px;
    }
</style>
